.screenToolsControlWMSS {
  background-color: rgba(0, 0, 0, 0);
  color:rgba(0,0,0,0);
  position: fixed;
  z-index: 999999999999;
}
.screenToolsControlWMSS:after {
  content:"Select";
}
.screenToolsControlWMSS:hover {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
  font: bold normal small-caps 22px sans-serif;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}